
    <div id="wrapper">
      <!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">                
                <li>
                    <a [routerLink]="['/home']">Inicio</a>
                </li>
                <li>
                        <a href="#">Instalacion</a>
                    </li>
                <li>
                    <a href="#">Componentes</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>


